@media screen and (min-width: 500px){
body{
    color: #333;
    font-family: Verdana, sans-serif;
    /* margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    */
    margin: 0
} 
header{
    /*background-color: pink;*/
    text-align: right;
    padding: 0px;
    /*background-image: url(../img/header.png);*/
    height: 0px;
    background-size: cover; 
    background-position: 50% 50%;
    margin-bottom: 0px;
}

header ul{
    margin: 0;
    list-style-type: none;
    padding-left:0;
}
header li{
    display: inline-block;
    /* padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px; */
    padding: 4px 8px;
}
header li > a{
    text-decoration: none;
    color: inherit;
}
header li > a:hover{
    color: royalblue;
}
.current{
    border-bottom: 4px solid royalblue;
}
section{
    text-align:center;
}
section h1{
    font-weight:normal;
    margin-bottom: 8px;
}
.building{
    font-weight:normal;
    font-size:50px;
}
section p{
    margin-top:0;
    font-size:14px;
}

.icon{
    border-radius: 50%;
    /* border-color: pink;
    border-width: 5px;
    border-style: solid; */
    border:5px solid white;
    /* box-shadow:x y blur color*/
    box-shadow:0px 0px 5px gray;
}


footer{
    width:400px;
    margin: 0 auto 60px;
}

footer ul{
    margin: 0;
    list-style-type: none;
    padding-left:0;
    float:left;
}
footer li{
    display: inline-block;
}
footer a:hover{
    opacity: 0.6;
}
footer p{
    color:lightgray;
    font-size: 14px;
    text-align:right;
}




.container{
    width: 820px;
    margin: 0 auto;
    padding: 60px 0;
}

.section-title{
    text-align:center;
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 60px;
    margin-top: 0px;
}

.section-title::after{
    content: attr(data-subtitle);
    display: block;
    font-size: 16px;
    color: #aaa;
    padding-top: 10px;
}

.skills{
    background: #f8f8f8;
}
.skills .flex{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.skill{
    width: 250px;
    background: #fff;
    position: relative;
    box-sizing: border-box;
    padding: 60px 20px 25px;
}

.skill img{
    border-radius: 0%;
    border: 0px solid #fff;
    position: absolute;
    left:0;
    right:0;
    margin: 0 auto;
    top:-120px;
}

.skill h1{
    text-align: center;
    font-size: 18px;
    font-weight: normal;
}

.skills h3{
    text-align: center;
    font-size: 15px;
    font-weight: normal;
}

.skill .section-title{
    margin-bottom: 95px;
}

.illustmargin{
    margin-bottom: 150px;
}
}




@media screen and (max-width: 499px){
    body{
        color: #333;
        font-family: Verdana, sans-serif;
        /* margin-top: 0px;
        margin-bottom: 0px;
        margin-right: 0px;
        margin-left: 0px;
        */
        margin: 0
    } 
    header{
        /*background-color: pink;*/
        text-align: right;
        padding: 0px;
        /*background-image: url(../img/header.png);*/
        height: 0px;
        background-size: cover; 
        background-position: 50% 50%;
        margin-bottom: 0px;
    }
    
    header ul{
        margin: 0;
        list-style-type: none;
        padding-left:0;
    }
    header li{
        display: inline-block;
        /* padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 8px;
        padding-right: 8px; */
        padding: 4px 8px;
    }
    header li > a{
        text-decoration: none;
        color: inherit;
    }
    header li > a:hover{
        color: royalblue;
    }
    .current{
        border-bottom: 4px solid royalblue;
    }
    section{
        text-align:center;
    }
    section h1{
        font-weight:normal;
        margin-bottom: 8px;
    }
    .building{
        font-weight:normal;
        font-size:50px;
    }
    section p{
        margin-top:0;
        font-size:14px;
    }
    footer{
        width:100%;
        margin: 0 auto 60px;
    }
    
    footer ul{
        margin: 0;
        list-style-type: none;
        padding-left:0;
        float:left;
    }
    footer li{
        display: inline-block;
    }
    footer a:hover{
        opacity: 0.6;
    }
    footer p{
        color:lightgray;
        font-size: 14px;
        text-align:right;
    }    
    .container{
        width: 80%;
        margin: 0 auto;
        padding: 60px 0;
    }
    
    .section-title{
        text-align:center;
        font-weight: normal;
        font-size: 24px;
        margin-bottom: 60px;
        margin-top: 0px;
    }
    
    .section-title::after{
        content: attr(data-subtitle);
        display: block;
        font-size: 16px;
        color: #aaa;
        padding-top: 10px;
    }
    
    .skills{
        background: #f8f8f8;
    }
    .skills .flex{
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
    }
    
    .skill{
        width: 40%;
        background: #fff;
        position: relative;
        box-sizing: border-box;
        padding: 60px 20px 25px;
    }
    
    .skill img{
        border-radius: 0%;
        border: 0px solid #fff;
        position: absolute;
        left:0;
        right:0;
        margin: 0 auto;
        top:-120px;
    }
    
    .skill h1{
        text-align: center;
        font-size: 18px;
        font-weight: normal;
    }
    
    .skills h3{
        text-align: center;
        font-size: 15px;
        font-weight: normal;
    }
    
    .skill .section-title{
        margin-bottom: 95px;
    }
    
    .illustmargin{
        margin-bottom: 150px;
    }
    }